.accd--header>button {
    display: flex !important;
    justify-content: space-between !important;
    width: 100% !important;
    box-shadow: transparent !important;
}

.accd--header>button:focus {
    box-shadow: transparent !important;
    color: red;
    background-color: rgb(255, 211, 211) !important;
    box-shadow: transparent !important;
    outline: transparent !important;
}

.accd--header>button::after {
    margin-left: 10px !important;
}